html {
   background: url("./backgroundEx.png") no-repeat center center fixed;
   background-size: cover;
}

body {
   position: relative;
}

.icon {
   position: absolute;
   transform: translate(-50%, -50%);
}

.summary {
   position: absolute;
   background-color: rgb(25, 170, 209, 0.6);
   opacity: 0;
   color: #fff;
   width: 45vw;
   top: 32vh;
   left: 39vw;
}

#gear {
   position: absolute;
   width: 15vw;
   top: 61.8vh;
   left: 23.1vw;
}
