#body,
#root {
   position: relative;
}

.main {
   position: relative;
   // width: 1366px;
   // height: 768px;
   // border: 1px black solid;
}

.btn {
   position: absolute;
   transform: translate(-50%, -50%);
   &__origin {
      top: 50vh;
      left: 50vw;
   }
   &__nextPhase {
      top: 30vh;
      left: 30vw;
   }
}
