#body,
#root {
   position: relative;
}

.main {
   position: relative;
}

.btn {
   position: absolute;
   // transition: transform 4s ease;
   &__origin {
      top: 50vh;
      left: 50vw;
      transform: translate(-50%, -50%);
      transition: transform 4s ease;
   }
   &__nextPhase {
      top: 50vh;
      left: 50vw;
      transform: translate(50%, 50%);
      transition: transform 4s ease;
   }

   &__origin:hover {
      top: 50vh;
      left: 50vw;
      transform: translate(50%, 50%);
      transition: transform 4s ease;
   }

}
