html,
body,
svg {
   width: 100%;
   height: 100%;
   margin: 0;
}

// #body,
// #root {
//    position: relative;
// }

// .main {
//    position: relative;
// }

// .btn {
//    position: absolute;
//    top: 50vh;
//    left: 50vw;
//    transform: translate(-50%, -50%);
//    width: 100px;
//    transition: transform 4s ease;

//    &.__nextPhase {
//       transform: translate(50%, 50%);
//    }

//    &__origin:hover {
//       top: 50vh;
//       left: 50vw;
//       transform: translate(50%, 50%);
//       transition: transform 4s ease;
//    }
// }
