* {
   font-family: "Microsoft YaHei", "Microsoft JhengHei", "LiGothic", "FangSong", Arial, serif;
}

html {
   background: url("../public/assets/background/bg-shapelined.jpg") no-repeat center center fixed;
   background-size: cover;
}

body {
   position: relative;
}

.icon,
.rndBlock {
   position: absolute;
   transform: translate(-50%, -50%);
}

.rndBlock {
   background-color: #fff;
   border-radius: 50%;
   filter: blur(4px);
   z-index: -1;
}

.summary {
   position: absolute;
   background-color: rgb(25, 170, 209, 0.7);
   opacity: 1;
   color: #fff;
   width: 45vw;
   top: 32vh;
   left: 39vw;
   z-index: 20;
}

.summary ~ .summary {
   display: none;
   opacity: 0;
}

.detail {
   position: absolute;
   background-color: #fff;
   display: none;
   opacity: 0;
   width: 100vw;
   height: 100vh;
   z-index: 40;
}

#divGear {
   position: absolute;
   transform: translate(-50%, -50%);
   /* width: 15vw; */
   width: 183px;
   top: 76.4vh;
   left: 31vw;
}

#gear {
   width: 100%;
}

#divLens {
   position: absolute;
   transform: translate(-50%, -50%);
   width: 183px;
   top: 76.4vh;
   left: 31vw;
}
#lens {
   width: 100%;
}

// https://codepen.io/t_afif/pen/bGooZmq?editors=1100
.smryBtn {
   --border: 3px; /* the border width */
   --slant: 0.7em; /* control the slanted corners */
   --color: #fff; /* the color */

   font-size: 23px;
   padding: 0.4em 1.2em;
   border: none;
   cursor: pointer;
   // font-weight: bold;
   color: var(--color);
   background: linear-gradient(to bottom left, var(--color) 50%, #0000 50.1%) top right,
      linear-gradient(to top right, var(--color) 50%, #0000 50.1%) bottom left;
   background-size: calc(var(--slant) + 1.3 * var(--border)) calc(var(--slant) + 1.3 * var(--border));
   background-repeat: no-repeat;
   box-shadow: 0 0 0 200px inset var(--s, #0000), 0 0 0 var(--border) inset var(--color);
   clip-path: polygon(
      0 0,
      calc(100% - var(--slant)) 0,
      100% var(--slant),
      100% 100%,
      var(--slant) 100%,
      0 calc(100% - var(--slant))
   );
   transition: color var(--t, 0.3s), background-size 0.3s;
}
.smryBtn:hover,
.smryBtn:active {
   background-size: 100% 100%;
   color: rgb(25, 170, 209, 1);
   --t: 0.2s 0.1s;
}
.smryBtn:focus-visible {
   outline-offset: calc(-1 * var(--border));
   outline: var(--border) solid #000a;
}
.smryBtn:active {
   --s: #0005;
   transition: none;
}
