html {
   background: url("../public/assets/backgroundEx.png") no-repeat center center fixed;
   background-size: cover;
}

body {
   position: relative;
}

.icon {
   position: absolute;
   transform: translate(-50%, -50%);
   // animation: float 6s ease-in-out infinite;
}

// @keyframes float {
//    0% {
//       transform: translate(-50%, -50%);
//    }
//    50% {
//       transform: translate(-40%, -40%);
//    }
//    100% {
//       transform: translate(-50%, -50%);
//    }
// }

.summary {
   position: absolute;
   background-color: rgb(25, 170, 209, 0.6);
   opacity: 0;
   color: #fff;
   width: 45vw;
   top: 32vh;
   left: 39vw;
}

#divGear {
   position: absolute;
   transform: translate(-50%, -50%);
   /* width: 15vw; */
   width: 183px;
   top: 76.4vh;
   left: 31vw;
}

#gear {
   width: 100%;
}
