@mixin pad {
   @media (max-width: 768px) {
      @content;
   }
}
@mixin mobile {
   @media (max-width: 375px) {
      @content;
   }
}
* {
   font-family: "Microsoft YaHei", "Microsoft JhengHei", "LiGothic", "FangSong", Arial, serif;
}

html {
   background: url("../../public/assets/background/bg-shapelined.jpg") no-repeat center center fixed;
   background-size: cover;
   overflow: hidden;
   body {
      position: relative;
   }
}

// 圖示 與 白圓點
.icon,
.rndBlock {
   position: absolute;
   transform: translate(-50%, -50%);
}

.rndBlock {
   background-color: #fff;
   border-radius: 50%;
   filter: blur(4px);
   z-index: -1;
}

// Gear 轉動的齒輪
// https://www.shutterstock.com/zh/image-vector/knobs-made-distinct-characteristics-qualities-elements-1965293800https://www.shutterstock.com/zh/image-vector/knobs-made-distinct-characteristics-qualities-elements-1965293800
#divGear {
   position: absolute;
   transform: translate(-50%, -50%);
   width: 200px;
   top: 76.4vh;
   left: 31vw;
   @include mobile {
      width: 150px;
   }
   img {
      width: 100%;
   }
}

#divLens {
   position: absolute;
   transform: translate(-50%, -50%);
   width: 216px;
   top: 76.4vh;
   left: 31vw;
   @include mobile {
      width: 162px;
   }
   img {
      width: 100%;
   }
}

#divHitTest {
   position: absolute;
   width: 20px;
   height: 20px;
   top: 75.8vh;
   left: 30.5vw;
}
